* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 14px;
    padding: 20px;
    margin-top: 30px;
}

a {
    color: #006798;
    text-decoration: none;
}

h2, .article {
    margin-bottom: 24px;
}

h3, h4, .classContent {
    margin-bottom: 10px;
}

.articleLink, p.data {
    margin: 10px 0;
}

.doiLink {
    text-decoration: underline;
}

.classInfo {
    margin-bottom: 50px;
}

.anychart-credits {
    display: none;
}

.topics {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.user-select-none .svg-container {
    margin: 0 auto;
}

.topicName {
    margin-bottom: 10px;
    font-weight: bold;
}

.topicKeyword, .topicName {
    cursor: pointer;
}

.topicKeyword:hover, .topicName:hover {
    text-decoration: underline;
}

.articleList {
    margin-top: 30px;
}

.filterArticle {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}